<div class="container">
  <div class="content-wrapper">
          <%= link_to 'Create a Flat', new_flat_path, class: 'btn btn-outline-light' %>
          <h2>See all <span class ="span-model">Flats</span></h2>
    <div class="row ">
      <% @flats.each do |flat| %>
      <div class="col-lg-3 mb-3 mt-3">
        <div class="card w-100">
          <%= cl_image_tag flat.photo, class: "d-block w-100 rounded" %>
          <div class="card-body">
            <p class="card-text">
              <p>Name: <%= link_to flat.name, flat %></p>
              <p>Description: <%= flat.description %></p>
              <p>Planet: <%= flat.planet %></p>
              <p>Price: Z$ <%= flat.price %></p></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

