<div class="container">
  <div class="content-wrapper">
    <div class="d-flex justify-content-center">
      <%= form_tag flats_path, method: :get, :class => 'form-search'  do %>
        <div class="input-append">
          <%= select_tag "planet", options_for_select(Flat.order(:planet).pluck(:planet).uniq) %>
          <button type="submit" class="btn btn-primary btn-sm">Explore</button>
        </div>
      <% end %>
    </div>


    <h2 style="margin-left: 460px; margin-top: 20px;">See all <span class ="span-model">Flats</span></h2>
    <div class="row ">
      <% @flats.each do |flat| %>
      <div class="col-lg-3 mb-3 mt-5">
        <div class="card w-100">
          <%= cl_image_tag flat.photo, class: "d-block w-100", style: "height: 232px;" %>
          <div class="card-body" style="height: 400px; ">
            <p class="card-text">
              <p>Name: <%= link_to flat.name, flat %></p>
              <p>Description: <%= flat.description.first(200) %>...</p>
              <p>Planet: <%= flat.planet %></p>
              <p>Price: Z$ <%= flat.price %></p></p>
            </div>
          </div>
        </div>
        <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= paginate @flats %>
    </div>
  </div>
</div>

