<!-- Page Content -->
<div class="container">
   <div class="content-wrapper">
  <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    <%= @flat.name %>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="https://source.unsplash.com/1600x900/?space,house" alt="">
    </div>

    <div class="col-md-4">
      <%= link_to 'Edit', edit_flat_path(@flat), class: 'btn btn-outline-light' %> | <%= link_to 'Back', flats_path, class: 'btn btn-outline-light' %> |

      <%= link_to 'Buy', flat_orders_path(@flat), method: :post, class: 'btn btn-outline-light' %>



      <h3 class="my-3">Description :</h3>
      <p><%= @flat.description %></p>
      <h3 class="my-3">Planet :</h3>
      <p><%= @flat.planet %></p>
      <h3 class="my-3">Address :</h3>
      <p><%= @flat.address %></p>
      <h3 class="my-3">Owner Info :</h3>
      <p><%= @flat.user.firstname %> <%= @flat.user.lastname %></p>
      <h4>Phone:</h4>
      <p><%= @flat.user.phone %></p>
      <h3 class="my-3">Price :</h3>
      <p>Z$ <%= @flat.price %></p>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Other houses from <%= @flat.user.firstname %> <%= @flat.user.lastname %></h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="https://source.unsplash.com/1600x900/?space" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="https://source.unsplash.com/1600x900/?house" alt="">

      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="https://source.unsplash.com/1600x900/?galaxy" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="https://source.unsplash.com/1600x900/?moon" alt="">
      </a>
    </div>

  </div>
</div>
  </div>
</div>
<!-- /.container -->

<!--
  <div class="container">
    <div class="content-wrapper">

      <h3>Name:</h3>
      <p><%#= @flat.name %></p>

      <h3>Owner Infos:</h3>
        <p><%= @flat.user.email %></p>
        <p><%= @flat.user.phone %></p>

      <h3>Planet:</h3>
        <p><%= @flat.planet %></p>
      <h3>Price:</h3>
      <p><%= @flat.price %></p>

      <h3>Description:</h3>
      <p><%= @flat.description %></p>


  <%#= simple_form_for [@flat, @order] do |f| %>
  <%#= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <br>
      <%#= f.button :submit, class: 'btn btn-outline-light' %>

  <%# end %>


  <!-- colocque aqui para poder comprar -->
  <!-- link pra order -->

  </div>
</div>
-->



