<div class="container">
  <div class="content-wrapper">
    <h1 class="my-4" style="font-size: 3em;">
      <%= @flat.name %>
    </h1>
    <div class="row">
      <div class="col-md-8">
        <%= cl_image_tag @flat.photo, class: "d-block w-100", style: "border-radius: 3px; height: 400px; crop: fill;" %>
        <div>
          <h4 class="my-3">Description:</h4>
          <p style="text-align: justify;"><%= @flat.description %></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-flat">
          <div id="flat-show">
            <div class="flat-info">
              <div>
                <h4 class="my-3">Planet:</h4>
                <h3><%= @flat.planet %></h3>
              </div>
              <div>
                <h4 class="my-3">Address:</h4>
                <h3><%= @flat.address %></h3>
              </div>
              <div>
                <h4 class="my-3">Price:</h4>
                <h3>Z$ <%= @flat.price %></h3>
              </div>
            </div>
            <div class="owner-info">
              <div>
                <h4 class="my-3">Owner Info:</h4>
                <% if @flat.availability? %>
                <h3><%= @flat.user.firstname %> <%= @flat.user.lastname %></h3>
                <% else %>
                 <h3><%= current_user.firstname %> <%= current_user.lastname %> </h3>
                 <% end %>
              </div>
              <div>
                <h4 class="my-3">Phone:</h4>
                <h3><%= @flat.user.phone %></h3>
              </div>
            </div>
          </div>
        </div>
          <% if user_signed_in? %>

            <% a = current_user.orders.map do |order|  %>
              <% order.flat %>
            <% end %>

            <% if a.include?(@flat) || @flat.user == current_user %>
              <h2>Already <span class ="span-model">Yours!</span></h2>
            <% else %>
              <%= link_to 'Buy', flat_orders_path(@flat), method: :post, class: 'btn btn-outline-success', style: "display: block", data: { confirm: "Are you sure?" } %>
            <% end %> | <%= link_to 'Back', :back, class: 'btn btn-outline-light', style: 'display: block' %>

          <% else %>
            <%= link_to 'Buy', flat_orders_path(@flat), method: :post, class: 'btn btn-outline-success', style: "display: block", data: { confirm: "Are you sure?" } %>
             | <%= link_to 'Back', :back, class: 'btn btn-outline-light', style: 'display: block' %>
          <% end %>
      </div>
    </div>
    <!-- Related Projects Row -->
    <h3 class="my-4">All Colonies from <span class="span-model"><%= @flat.user.firstname %> <%= @flat.user.lastname %></span></h3>
    <div class="row">
      <% @otherflats.each do |x| %>
        <div class="col-md-3 col-sm-6 mb-4">
          <%= cl_image_tag x.photo, class: "d-block w-100", style: "border-radius: 3px; height: 160px; crop: fill;" %>
          <p><%= link_to x.name, x %> at <%= x.planet %> Price: Z$ <%= x.price %></p>
        </div>
      <% end %>
   </div>
 </div>
</div>
</div>

