
<div class="background">
  <div class="banner"></div>
  <div class="container">


    <p>
      <strong>Name:</strong>
      <%= @flat.name %>
    </p>


    <p>
      <strong>Owner Infos:</strong>
      <br><%= @flat.user.email %>
      <br><%= @flat.user.phone %>
    </p>

    <strong>Planet:</strong>
    <%= @flat.planet %>
  </p>

  <strong>Price:</strong>
  <%= @flat.price %>
</p>

<strong>Description:</strong>
<%= @flat.description %>
</p>

<%= simple_form_for [@flat, @order] do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-actions mr-3 mb-3">
  <%= f.button :submit, class: 'btn btn-primary' %>
</div>
<% end %>


<!-- colocque aqui para poder comprar -->
<!-- link pra order -->
<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
</div>


    <p>
      <strong>User:</strong>
      <%= @flat.user.email %>
    </p>

    <%= simple_form_for [@flat, @order] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary', class: 'btn btn-outline-light' %>
      </div>
    <% end %>


    <!-- colocque aqui para poder comprar -->
    <!-- link pra order -->
    <%= link_to 'Edit', edit_flat_path(@flat), class: 'btn btn-outline-light' %>
    <br>
    <%= link_to 'Back', flats_path, class: 'btn btn-outline-light' %>
  </div>

</div>
