<div class="container">
  <div class="content-wrapper">
    <h3>Name:</h3>
      <p><%= "#{current_user.firstname} #{current_user.lastname}" %></p>
    <h3>Email:</h3>
      <p><%= current_user.email %></p>
    <h3>Phone:</h3>
      <p><%= current_user.phone %></p>
    <h3>Upload your profile picture:</h3>
    <!-- add foto do usuario -->
    <h3>You have bought <span class ="span-model"><%= current_user.orders.count %> flats:</span></h3>

    <% current_user.orders.each do |x| %>
      <p><%= x.flat.name %> at <%= x.flat.planet %> Price: Z$ <%= x.flat.price %></p>
    <% end %>

    <h3 class="my-4">Your current flats for sale:</h3>
    <% current_user.flats.each do |flat| %>
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
          <%= link_to flat.name, flat %>
            <img class="img-fluid" src="https://source.unsplash.com/1600x900/?space" alt="">
            <br>
            <br>
            <%= link_to 'Edit', edit_flat_path(flat), class: 'btn btn-outline-light' %> | <%= link_to "Delete", flat_path(flat), method: :delete, data: { confirm: "Are you sure you want to delete this flat?" }, class: 'btn btn-outline-light' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

